* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  background-color: #000;
}
nav img {
  width: 14%;
  margin-top: 5px;
  margin-left: 2%;
  border-radius: 30px;
}
.logo {
  width: 33%;
  height: 70px;
  align-items: center;
  margin-left: 2%;
}
.logo-2 {
  width: 80%;
  height: 70px;
  display: flex;
  align-items: center;
  margin-left: -23%;
}
nav h1 {
  color: aliceblue;
  margin-left: 23%;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
}
@media only screen and (min-width: 763px) {
  .list {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin: 30px 350px;
  }
  .list h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 5.3vw;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    color: #ff5361;
  }

  .list li {
    margin: 10px;
    font-size: 18px;
    text-align: justify;
    font-family: "Times New Roman", Times, serif;
    list-style-type: none;
    margin-left: 175px;
  }
  
  .list strong {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: yellow;
}
